body{
    margin: 0 auto;
    width: 300px;
}

button.selected{
    background: lightgreen;
}
td{
    border: 1px solid black;
}
#gun_list_table .edit{
    background: lightblue;
}
#gun_list_table .selected .edit{
    background: yellow;
}
#gun_list_table .selected{
    background: lightgreen;
}