[Unit]
 Description= SmartGunCabinet_Musago WEB Server
 After= syslog.target network.target

 [Service]
 Type=idle
 WorkingDirectory=$MUSAGO_WEB_BE_HOME
 ExecStart=/usr/bin/python3 -u $MUSAGO_WEB_BE_HOME/run.py
 StandardOutput=$MUSAGO_WEB_BE_HOME/out.log
 StandardError=$MUSAGO_WEB_BE_HOME/error.log

 [Install]
 WantedBy= multi-user.target